//VARIABLES
$darkblue: #30465F;
$blue: #718CA7;
$lightblue: #A7B3BF;
$treegreen: #6E7141;
$poolgreen: #325A57;
$darkbrown: #282320;
$medDarkBrown: #6F675D;
$brown: #E1DCD9;
$lightbrown: #DBD1C2;
$darkgrey: #555755;
$grey: #A5A5A2;
$lightgrey: #F3F3F0;
$borderGrey: #E0E0E0;
$red: #C04343;
